<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>地図表示</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
</head>

<body>
  <div id='map-wrapper'>
    <div id='map'></div>
    <div id='search-box'></div>
    <% @locations.each do |location|%>
      <div class="location" id=<%= location[1] %> data-latitude=<%= location[2] %> data-longitude=<%= location[3] %> data-icon=<%= location[5].strip %>></div>
    <% end %>
  </div>
</body>
</html>